.flex-center{
    display: flex;
    justify-content: center;
    align-content: center;
}

#fondo{
    width: 586px;
    height: 280px;
    background-image: url("Mascotas2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#fondo1{
    width: 850px;
    height: 350px;
    background-image: url("animales-en-ingles-blog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

}